@import '../../sass/styles';

.castSection {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  margin-top: 3rem;

  @media screen and (max-width: 1000px) {
    max-width: 800px;
  }

  @media screen and (max-width: 800px) {
    max-width: 300px;
  }

  h1 {
    font-size: 4rem;
    text-align: left;
    margin-left: 10px;
    font-weight: 600;

    @media screen and (max-width: 800px) {
      font-size: 3rem;
    }
  }
  .castContainer {
    display: flex;
    width: 1000px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      width: 1.2rem;
      background-color: #f5f5f5;
      height: 1.5rem;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #555;

      &:hover {
        background-color: rgba(#555, 0.8);
      }
    }

    @media screen and (max-width: 1000px) {
      max-width: 800px;
    }

    @media screen and (max-width: 800px) {
      max-width: 300px;
    }

    .cast {
      margin: 1rem;
      max-width: 150px;
      min-width: 150px;
      overflow: hidden;
      border: 1px solid rgba($color-grey-light-1, 1);
      padding-bottom: 10px;
      border-radius: 10px;
      box-shadow: $shadow-light;

      @media screen and (max-width: 800px) {
        max-width: 125px;
        min-width: 125px;
      }

      img {
        height: 175px;
        min-width: 150px;
        display: block;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        @media screen and (max-width: 800px) {
          height: 150px;
          min-width: 125px;
        }
      }

      h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0.75rem;
      }
      p {
        margin: 0.75rem;
        font-size: 1.4rem;
      }
    }
  }
}
